.container {
    display: inline-block;
    width: 25%;
    background-color: #fff;
    margin-top: 8rem;
    height: 48rem;
    vertical-align: top;
    border-radius: .8rem;
    padding: .5rem;
    font-size: 1.6rem;
}